@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
	}
}

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 23, 23, 23;
	--background-end-rgb: 28, 28, 28;
	--background-rgb: 25, 25, 25;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* Reset and base styles */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
}

main {
	width: 100%;
}

body {
	min-height: 100vh;
	font-family: var(--font-fragment-mono), monospace;
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	line-height: 1.2;
}

header {
	@apply flex items-center border-b border-border-default h-16 px-3 py-2;
}

h1 {
	font-size: 1.5rem;
	white-space: nowrap; /* Prevent line breaks */
	overflow: hidden; /* Hide overflow if any */
	text-overflow: ellipsis; /* Show ellipsis for overflowing text */
}

h2 {
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #f5f5f5;
	letter-spacing: 0.2rem;
	line-height: 1.8;
}

a {
	color: #f5f5f5;
	font-size: 0.75rem;
}

header a,
p,
li {
	font-size: 0.75rem;
	color: #aaa;
}

footer {
	padding: 1.25rem 1rem 1.5rem 1rem;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

:focus {
	/* border: 2px solid white; */
	outline: 2px solid #93c5fd;
	border-radius: 1px;
}

.name {
	font-family: var(--font-pantasia);
	font-size: 2rem;
	letter-spacing: -0.01rem;
}

.kerned {
	font-kerning: auto;
}

.GridLayout {
	display: grid;
	grid-template-columns: repeat(8, minmax(0, 1fr));
	padding: 0.75rem;
}

@media (min-width: 768px) {
	.GridLayout {
		grid-template-columns: repeat(24, minmax(0, 1fr));
	}
}

.GridLayout > * {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	min-width: 0; /* Allow grid items to shrink below their minimum content size */
}

/* number-flow-react {
	justify-content: flex-end;
} */

.chrisshadowdomclass {
	margin-right: 0 !important;
}

number-flow-react.number-flow-right span.number__inner {
	padding: 0 !important;
}

number-flow-react::part(number) {
	margin: 0;
}

number-flow-react::part(number__inner) {
	padding: 0;
}
